<!DOCTYPE html>
<html lang="en">
<head>
    <title>Votre Site</title>
</head>
<body>

    <header>
        <div class="container">
            <div id="logo">
                <a href="index.html"><img src="../../assets/logo.png" alt="logo" title="car-rental"></a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="index.html">Home</a></li>
                    <li><a routerLink="/cars">Cars</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="https://www.facebook.com">Contact</a></li>
                    <li *ngIf="!userSessions"><a href="/login">Login</a></li>
                    <li *ngFor="let userSession of userSessions"><b>Bonjour, {{ lastName }}</b></li>
                    
                </ul>
            </nav>
        </div>
    </header>

    <!-- Votre contenu va ici -->

</body>
</html>
