<!DOCTYPE html>
<html lang="en">
<head>
    <title>Votre Site</title>
</head>
<body>

    <header>
        <div class="container">
            <div id="logo">
                <a href="index.html"><img src="../../assets/logo_location.jpg" alt="logo" title="car-rental"></a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="cars.html">Cars</a></li>
                    <li><a href="service.html">Service</a></li>
                    <li><a href="team.html">Team</a></li>
                    <li><a href="blog-home.html">Blog</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Votre contenu va ici -->

</body>
</html>
