<body>

    <header>
        <div class="container">
            <div id="logo">
                <a href="index.html"><img src="../../assets/logo.png" alt="logo" title="car-rental"></a>
            </div>
            <nav id="nav-menu-container">
                <div class="links">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="index.html">Home</a></li>
                    <li><a routerLink="/cars">Cars</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="https://www.facebook.com">Contact</a></li>
                    <a *ngIf="!(userSessions && userSessions.length > 0)" routerLink="/login" class="btn">Se Connecter</a>
                    <div class="sss" *ngFor="let userSession of userSessions">
                        <li><b>Bonjour, {{ lastName }}</b></li>
                        <li><button class="btn" (click)="logout()">Se Deconnecter</button></li>
                    </div>
                    
                </ul>
                </div>
                
            </nav>
            
        </div>
        <!-- <div class="ml-auto">
            <a routerLink="/login" class="btn">Se Connecter</a>
            <a *ngFor="let userSession of userSessions" routerLink="/login" class="btn">Se Deconnecter</a>
        </div> -->
    </header>

    <!-- Votre contenu va ici -->

</body>

