<!-- footer.component.html -->

<footer class="footer">
    <div class="container">
      <div class="footer-content">
        <div class="footer-section">
          <h4>Contact Us</h4>
          <p>Email: infocarrental&#64;gmail.com</p>
          <p>Phone: +1 (555) 123-4567</p>
        </div>
        <div class="footer-section">
          <h4>Quick Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Cars</a></li>
            <li><a href="#">Reservations</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
        <div class="footer-section">
          <h4>Follow Us</h4>
          <div class="social-icons">
            <a href="#" target="_blank"><i class="fab fa-facebook"><img src="../../assets/facebook-removebg-preview.png" alt="logo fb"></i></a>
            <a href="#" target="_blank"><i class="fab fa-twitter"><img src="../../assets/twitter-removebg-preview.png" alt="logoTwit"></i></a>
            <a href="#" target="_blank"><i class="fab fa-instagram"><img src="../../assets/instagram-removebg-preview.png" alt="logoInsta"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  