<div class="container">
    <!-- <div class="orangeText">Contactez-nous</div>
    <div class="primaryText">Accessibilité à Nos Services</div> -->
    <div class="orangeText">A Propos-de-Nous</div>
    <div class="primaryText">Découvrez notre agence de location de voiture</div>
    <div class="c-container">   
    <div class="secondaryText text">    
    <p>Bienvenue à DreamDrive Rental - Votre partenaire de confiance pour la location de voitures.
    Nous sommes fiers de fournir des services de location de voitures de qualité pour répondre
     à vos besoins de déplacement. Que vous ayez besoin d'une voiture pour un voyage d'affaires,
    des vacances en famille ou tout simplement pour une escapade rapide, nous avons la voiture
     parfaite pour vous.
    Notre flotte de véhicules modernes et bien entretenus offre un large éventail d'options,
    des voitures économiques aux SUV spacieux. Nous nous engageons à assurer
    la satisfaction de nos clients en fournissant des véhicules fiables
    et un service exceptionnel.
    À DreamDrive Rental, nous comprenons l'importance de la flexibilité et de la commodité
    lorsqu'il s'agit de la location de voitures. C'est pourquoi nous offrons des tarifs compétitifs,
    des options de location à court et à long terme, ainsi que des solutions personnalisées
    pour répondre à vos besoins spécifiques.
    Notre équipe dévouée est là pour vous assister à chaque étape de votre expérience de location.
    N'hésitez pas à nous contacter si vous avez des questions ou si vous avez besoin d'assistance.
    Merci de choisir [Nom de votre agence] pour votre location de voiture. Nous sommes impatients 
    de vous servir et de rendre votre voyage agréable et sans souci.</p>
    </div>

    <div class="hero-right">
    <div class="image-container">
      <img src="../../assets/image_about.png" alt="photo_BMW" />
    </div>
    </div>
    </div>
</div>

