p{
    text-align: center;
}
.p-5{
    border: 1px solid black;
    width: 85%;
    margin-left: 15%;
    
}
.border{
    padding: 10px;
  }
  .btn{
    margin-right: 10px;
  }
  .fa {
    margin-right: 10px;
  }
  table .btn{
    margin: 2px;
  }