p{
    text-align: center;
}
.card{
    border: 1px solid black;
    width: 85%;
    margin-left: 15%;
    
}
.borderr{
  margin-left: 15%;
  padding: 10px;
}

.border{
    padding: 10px;
    
  }
  .btn{
    margin-right: 10px;
  }
  .fa {
    margin-right: 10px;
  }
  table .btn{
    margin: 2px;
  }
  .lbl {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 0%;
    color: #333; /* Couleur du texte */

  }