<div class="card">
    <div class="card-body">
      <h5 class="card-title">Backend response</h5>
      <div class="border">
        <h3> Ajouter Voiture</h3>
      <div class="modal-body">
        <form class="form" name="registerForm" (ngSubmit) = "ngSubmit()">
          <input type="text" class="form-control w-50 " placeholder="Matricule"  [(ngModel)] = "voiture.matricule" name="matricule">
          <input type="text" class="form-control w-50 " placeholder="Date"  [(ngModel)] = "voiture.date" name="date">
         
          <!-- <input id="date" name="date" class="form-control" ngbDatepicker #dp="ngbDatepicker">
           <button class="btn btn-outline-secondary" (click)="dp.toggle()" type="button">
            <i class="fa fa-calendar"></i>
          </button> -->
          <input type="checkbox" class="form-check-input" id="dispo" [(ngModel)]= "voiture.dispo" name="dispo">
          <label class="form-check-label" for="dispo">Disponible</label>
          <input type="text" class="form-control w-50 " placeholder="carburant"  [(ngModel)] = "voiture.carburant" name="carburant">
          <input type="text" class="form-control w-50 " placeholder="Couleur"  [(ngModel)] = "voiture.couleur" name="couleur">
          <input type="text" class="form-control w-50 " placeholder="Marque"  [(ngModel)] = "voiture.marque" name="marque">
          <input type="text" class="form-control w-50 " placeholder="Modele"  [(ngModel)] = "voiture.modele" name="modele">
          <input type="number" class="form-control w-50 " placeholder="Prix"  [(ngModel)] = "voiture.prix" name="prix">
          <input type="text" class="form-control w-50 " placeholder="Photo"  [(ngModel)] = "voiture.photo" name="photo">
          <div class="border text-center">
            <button type="submit" class="btn btn-outline-success mt-3">Add</button>
            </div>
        </form>
        </div>
      </div>
      <p class="card-text">Voitures:</p>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Matricule</th>
            <th>Date</th>
            <th>Carburant</th>
            <th>Couleur</th>
            <th>Marque</th>
            <th>Modele</th>
            <th>Prix</th>
            <th>Photo</th>
            <th>Assurance</th>
            <th>Agence</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let voiture of voitures">
            <td>{{ voiture.id }}</td>
            <td>{{ voiture.matricule }}</td>
            <td>{{ voiture.date }}</td> <!-- Use Angular date pipe for formatting -->
            <td>{{ voiture.carburant }}</td>
            <td>{{ voiture.couleur }}</td>
            <td>{{ voiture.marque }}</td>
            <td>{{ voiture.modele }}</td>
            <td>{{ voiture.prix }}</td>
            <td>{{ voiture.photo }}</td>
            <td>{{ voiture.assuranceId }}</td>
            <td>{{ voiture.agenceId }}</td>
            <td>
                
                <button class="btn btn-sm btn-warning">
                  <i class="fa fa-edit"></i>Edit</button>
                  <button class="btn btn-outline-danger me-2" (click) = "deleteVoiture(voiture.id)">Delete</button>
                  
                <!-- <button class="btn btn-sm btn-danger">
                  <i class="fa fa-remove"></i>Delete</button> -->
                  <!-- (click)="deleteVoiture(voiture.id) -->
                  
              </td>
          </tr>
        </tbody>
      </table>
    </div>
      <!-- <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Nouvelle Voiture</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> -->
      
          
          
          <!-- <div class="form-group">
            <label for="date">Date</label>
            <div class="input-group">
              <input id="date" name="date" class="form-control" ngbDatepicker #dp="ngbDatepicker">
              <button class="btn btn-outline-secondary" (click)="dp.toggle()" type="button">
                <i class="fa fa-calendar"></i>
              </button>
            </div>
          </div> -->
          <!-- <div class="form-group">
            <label for="carburant">Carburant</label>
            <div class="input-group">
              <input id="carburant" name="carburant" class="form-control" ngModel>
            </div>
            <div class="form-group">
              <label for="couleur">Couleur</label>
              <div class="input-group">
                <input id="couleur" name="couleur" class="form-control" ngModel>
              </div>
            </div>
          </div> -->
          <!-- <div class="form-group">
            <label for="marque">Marque</label>
            <div class="input-group">
              <input id="marque" name="marque" class="form-control" ngModel>
            </div>
          </div>
          <div class="form-group">
            <label for="modele">Modele</label>
            <div class="input-group">
              <input id="modele" name="modele" class="form-control" ngModel>
            </div>
          </div> -->
          <!-- <div class="form-group">
            <label for="prix">Prix</label>
            <div class="input-group">
              <input id="prix" name="prix" class="form-control" ngModel>
            </div>
          </div> -->
          <!-- <div class="form-group">
            <label for="photo">Photo</label>
            <div class="input-group">
              <input id="photo" name="photo" class="form-control" ngModel>
            </div>
          </div> -->
        
      
      
      
    
  </div>
  