<div class="widget-container">
    <div class="widget green">
      <div >
        <mat-icon class="icon">
            car_rental
            </mat-icon>
      </div>
      <div class="value">
        <div class="top">{{sumL}}</div>
        <div class="bottom">Locations</div>
      </div>
    </div>
    <div class="widget yellow">
      <div>
        <mat-icon class="icon">
            person
            </mat-icon>
      </div>
      <div class="value">
        <div class="top">{{sumU}}</div>
        <div class="bottom">Clients</div>
      </div>
    </div>
    <div class="widget blue">
      <div>
        <mat-icon class="icon">
                no_crash
            </mat-icon>
      </div>
      <div class="value">
        <div class="top">{{sumV}}</div>
        <div class="bottom">Voitures</div>
      </div>
    </div>
  </div>