<!-- <section className="section product" aria-label="product">
    <div className="container">
      <div className="product-slides">
        <div className="slider-banner" data-slider="">
          <div className="product-banner" *ngFor="let voiture of voitures">
              <img
                src={battery.image}
                width={600}
                height={600}
                loading="lazy"
                alt={`Batterie ${battery.marque}`}
                className="img-cover"
              />
             -->
             <!-- car-details.component.html -->

<div class="car-details-container">
    <div class="container">
    <div class="product-banner">
    <img src="{{ voiture.photo }}" alt="{{ voiture.marque }}" class="img-cover">
    </div>
    <div class="produc-content">
        <p class="product-subtitle"><b>{{voiture.modele}}</b></p>
        <h1 class="h1 product-title">{{voiture.marque}}</h1>

        <div class="wrapper">
        <span class="price" data-total-price="">
            {{voiture.prix}} DH
        </span>
        <span class="badge">20%</span>
        <del class="del">1500.00 DH</del>
        </div>

        <h2 class="car_cri"><b>{{voiture.dispo ? 'Disponible' : 'Non disponible'}}</b></h2>
        <h2 class="car_cri">{{voiture.carburant}}</h2>
        <h2 class="car_cri">{{voiture.date}}</h2>
        <h2 class="car_cri">{{voiture.agence.nom}}</h2>




        <!-- dispo: boolean | undefined;
    couleur: string | undefined;
    carburant: string | undefined;
    date: Date | undefined;
    photo: string | undefined;
    assurance!: Assurance; // Assuming Assurance is another model
    agence!: Agence ; -->

    </div>
    </div>

    <!-- <h2>{{ voiture.matricule }} - {{ voiture.date }}</h2> -->
    
  
    
  
    <button (click)="goToVoitureHome()">Go Back to Car List</button>
  </div>
  
