<section class="hero">
    <div class="hero-content">
      <h1>Welcome to Car Deal</h1>
      <p>Explore the world with our top-notch rental cars</p>
      <a routerLink="/cars" class="btn">View Cars</a>
    </div>
  </section>
  <swiper
  [slidesPerView]="3"
  [spaceBetween]="50"
  [navigation]="true"
  [pagination]="{ clickable: true }"
  [autoplay]="{ delay: 3000, disableOnInteraction: false }"
>
  <ng-template swiperSlide *ngFor="let car of cars">
    <section class="car-list">
      <div class="swiper-slide">
        <div class="car-card">
          <img [src]="car.photo"  class="phot" alt="{{ car.marque }} Image">
          <h2>{{ car.marque }}</h2>
          <p>{{ car.modele }}</p>
          <div class="oo">
            <span class="price">{{ car.prix }}/day</span>
          <button (click)="carDetail(car.id)">View Details</button>

          </div>
          
        </div>
      </div>
    </section>
  </ng-template>
  
</swiper>
<section class="contact-section"> 
  <section class="c-wrapper">
    <div class="paddings innerWidth flexCenter c-container">
      <div class="flexColStart c-left">
        <div class="orangeText">Contactez-nous</div>
        <div class="primaryText">Accessibilité à Nos Services</div>
        <div class="secondaryText">Notre équipe dédiée de professionnels de la location de voitures est là pour vous accompagner dans le choix du véhicule idéal, répondre à toutes vos questions et simplifier le processus de réservation, que ce soit pour une location courte ou longue durée. Nous nous engageons à assurer la satisfaction de nos clients en fournissant un service exceptionnel de qualité supérieure en tout temps.</div>
        <div class="flexColStart contactModes">
          <div class="flexColStart row">
            <div class="flexColCenter mode">
              <div class="flexStart">
                <div class="flexCenter icon">
                  <i class="fa fa-phone"><mat-icon>
                      call
                    </mat-icon></i>
                </div>
                <div class="flexColstart detail">
                  <span class="primaryText">Appel</span>
                  <br />
                  <span class="secondaryText">+212 6 66 66 67 23</span>
                </div>
              </div>
              <div class="flexCenter button">Call Now</div>
            </div>
            <div class="flexColCenter mode">
              <div class="flexStart">
                <div class="flexCenter icon">
                  <i class="fa fa-envelope"><mat-icon>chat</mat-icon></i>
                </div>
                <div class="flexColstart detail">
                  <span class="primaryText">Message</span>
                  <br />
                  <span class="secondaryText">+212 6 11 66 67 23</span>
                </div>
              </div>
              <div class="flexCenter button">Message Now</div>
            </div>
          </div>
        </div>
      </div>
      <div class="hero-right">
        <div class="image-container">
          <img src="../../assets/VoitureWallpaperr.png" alt="photo-batterie"/>
        </div>
      </div>
    </div>
  </section>
</section>