// :host {
//     background-image: url('../../assets/carWallpaper1.jpg');
//     background-size: cover;
//     background-position: center;
//     background-repeat: no-repeat;
//     height: 100vh;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }
    
    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.header-right {
    background-color: rgba(32, 46, 69, 0.4);
    border: 1px solid #4b5263;
    padding: 50px;
  }
  .default-select {
    height: 40px;
  }
  
  .default-select .nice-select {
    border: none;
    border-radius: 0px;
    height: 40px;
    background: #f9f9ff;
    padding-left: 20px;
    padding-right: 40px;
  }
  
  .default-select .nice-select .list {
    margin-top: 0;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    width: 100%;
    padding: 10px 0 10px 0px;
  }
  
  .default-select .nice-select .list .option {
    font-weight: 300;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    line-height: 28px;
    min-height: 28px;
    font-size: 12px;
    padding-left: 20px;
  }
  
  .default-select .nice-select .list .option.selected {
    color: #fab700;
    background: transparent;
  }
  
  .default-select .nice-select .list .option:hover {
    color: #fab700;
    background: transparent;
  }
  
  .default-select .current {
    margin-right: 50px;
    font-weight: 300;
  }
  
  .default-select .nice-select::after {
    right: 20px;
  }