<section class="hero">
    <div class="hero-content">
      <h1>Welcome to Car Deal</h1>
      <p>Explore the world with our top-notch rental cars</p>
      <a routerLink="/cars" class="btn">View Cars</a>
    </div>
  </section>
  <swiper
  [slidesPerView]="3"
  [spaceBetween]="50"
  [navigation]="true"
  [pagination]="{ clickable: true }"
  [autoplay]="{ delay: 3000, disableOnInteraction: false }"
>
  <ng-template swiperSlide *ngFor="let car of cars">
    <section class="car-list">
      <div class="swiper-slide">
        <div class="car-card">
          <img [src]="car.photo"  class="phot" alt="{{ car.marque }} Image">
          <h2>{{ car.marque }}</h2>
          <p>{{ car.modele }}</p>
          <div class="oo">
            <span class="price">{{ car.prix }}/day</span>
          <button>View Details</button>

          </div>
          
        </div>
      </div>
    </section>
  </ng-template>
  
</swiper>
  
<div class="hero-right">
  <div class="image-container">
    <img src="../../assets/VoitureWallpaperr.png" alt="photo-batterie"/>
  /div>
</div>