<section class="hero">
    <div class="hero-content">
      <h1>Welcome to Car Deal</h1>
      <p>Explore the world with our top-notch rental cars</p>
      <a routerLink="/cars" class="btn">View Cars</a>
    </div>
  </section>
  <section class="car-list">
    <div class="car-card" *ngFor="let car of cars">
      <img [src]="car.photo" alt="{{ car.marque }} Image">
      <h2>{{ car.marque }}</h2>
      <p>{{ car.modele }}</p>
      <span class="price">{{ car.prix }}/day</span>
      <button >View Details</button>
    </div>
  </section>
  
  
        <div class="hero-right">
            <div class="image-container">
                <img src="../../assets/VoitureWallpaperr.png" alt="photo-batterie"/>
            </div>
        </div>